.baner-section{
    background: url(./foto/Bitmap.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 90px;
}
.sozlar{
    margin: 30px;
}
.bosh-section{
    margin-top: 90px;
    text-align: center;
}
.asosiy-bosh{
    margin-top: 90px;
}
/* sectioni uchinchi qismi */
.dumaloqlar{
    padding-top: 50px;
}
.fiksed{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 30px 2px rgb(0, 0, 0);
    z-index: 23443534233423542345546345;
}
.odiy-sozlar{
    background-color: #2C343E;
    width: 100%;
    height: 577px;
}
.odiy-sozlar h4{
    font-size: 50px;
  margin-top: 25px;
}
.uchta-quti{
    margin-top: 150px;
}
.kichkina-qutichalar{
    width: 350px;
    height: 380px;
}
.kichkina-qutichalar h4{
    font-size: 24px;
   
}
.kichkina-qutichalar img{
    margin-top: 45px;
}
.bosh-quti__sozi{
    margin-top: 50px;
}

/* sectioni tortinchi qismi */
.asosiy-boshsh{
    margin-top: 300px;
}
.uchta-quti__sozlar{
    margin-bottom: 70px;
}
.uchta-quti__sozlar h1{
    color: #FDD6BA;
    font-size: 90px;
}
.radius{
    border: solid 3px #0E8784;
    border-radius: 50%;
}
.uchta-quti__sozlar {
   margin-top: 90px;
}

/* footer qismi */
.footer{
    background-color: #2C343E;
    height: 90px;
  align-items: center   ;
}
.flex-hossasi{
    align-items: center;
    margin-top: 90px;
}
.ikons{
    font-size: 30px;
    color: #FEFCF7;
    gap: 20px;
}
.icon i{
    margin-left: 25px;
}
.margin{
    margin-top: 25px;
}

.banner-section{
    background: url(./foto/f1.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 90px;
}
.baner-sectionn{
    background: url(./foto/h4.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 90px;
}
.marginn{
    margin: 90px 0px;
}
.f{
   align-items: center;
}
.sozchalar{
    margin: auto;
}
.sozchalar h3{
    font-size: 40px;
    color: #FEFCF7;
}
.sozchalar p{
    color: #d4d2ce;
}
/* sectioni uchinchi qismi */
.our{
    color: #83888F;
}
.sory h2{
margin: 30px 0px;
}
.bak-rang{
    margin-top: 10px;
    background-color: #2C343E;
    width: 100%;
    height: 653px;
    align-items: end;
}

.dumaloq{
    width: 25px;
    height: 25px;
    border: solid 3px rgba(14,135, 132, 1);
}

.chiziq{
    width: 150px;
    height: 2px;
    border: 2px solid rgba(253,214,186,1);
    display: block;
    align-items: center;
}
/* acordeonlar */
.rang-pushti_oq{
    background: #F4F1EB;
}
.rang-yashil{
    background: #0E8784;
}
.rang-sariq__qizil{
    background: #FDD6BA;
}

@media(max-width:750px){
    .asosiy-boshsh{
        margin-top: 1050px;
    }
    .uchta-quti__sozlar{
        text-align: center;
    }
    .foter-img img{
        display: block;
        width: 100%;
    }
    .margin{
        display: none;
    }
    .ikons i{
        display: none;
    }
    .bak-rang{
        height: 1000px;
    }
    .sory{
        text-align: center;
    }
    .kichkina-qutichalar{margin-bottom: 20px;}
    .g1-rasm img{
  width: 80%;
    }
    .g2-png img{
        width: 80%;
    }
    .rang-pushti_oq{margin: 20px 0px;}
    .rang-yashil{margin-bottom: 20px;}
    .odiy-sozlar{height: 800px;}
}